body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaf4fc;
  }
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  .logo {
    width: 100px;
    margin-bottom: 10px;
  }
  h1 {
    color: #0056b3;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  label {
    margin-top: 10px;
    font-weight: bold;
    color: #0056b3;
  }
  select, button {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  button:hover {
    background-color: #01254d;
  }
  .back-btn {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
  }
  .back-btn:hover {
    background-color: #01254d;
  }
